<div class="page">
    <ul class="d-flex jcc aic">
      <li class="pagelong d-flex aic jcc">上一頁</li>
      <li class="pagesquare d-flex aic jcc">1</li>
      <li class="pagesquare d-flex aic jcc" style="background-color: #000;">2</li>
      <li class="pagesquare d-flex aic jcc">3</li>
      <li class="pagesquare d-flex aic jcc">4</li>
      <li class="pagesquare d-flex aic jcc">5</li>
      <li class="pagelong d-flex aic jcc" style="background-color: #F2F2F2;">下一頁</li>
    </ul>
  </div>

