$primary-color:#AA0601;
$secondary-color:#650300;
$bg-light:#FBF2F2;
$nomal-color-dark:#000000;
$secondary-color-dark:#212529;
$nomal-color-light:#FFFFFF;
$font-kinds:"Noto Sans TC", sans-serif;
$font-en:"Roboto";

