<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OPTICAL</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="goodbar container_forgoodbar">
      <ul class="d-flex aic jcc">
          <li style="border-bottom: 8px solid #AA0601;"><a href="#">OPTICAL</a></li>
          <li><a href="sunglasses.html">SUNGLASSES</a></li>
          <li><a href="">FUNCITIONAL</a></li>
      </ul>
  </div>
  
  <div class="gooduximg">
      <ul class="d-flex">
          <li> <picture class="gooduximg_photo">
            <source srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-1.png" media="(max-width: 820px)">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-1.png" alt="">
        </picture></li>
          <li> <picture class="gooduximg_photo">
            <source srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-2.png" media="(max-width: 820px)">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-2.png" alt="">
        </picture></li>
      </ul>
  
  </div>
  <div class="container">
    <h2 class="goodmidtitle_h2">
      Celluloid Combi
    </h2>
    <h1 class="goodmidtitle_h1">
      賽璐珞鈦金屬混合鏡框
    </h1>

    <ul class="gooditem d-flex jcsc">
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-5.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-6.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-5.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="onegood">
          <li class="goodimg" style="background-image:url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-6.png');"></li>
          <li class="goodname d-flex jcsc">
            <div class="name">BJ41600S</div>
            <div class="price">NTD3,490</div>
          </li>
          <li class="itemcolor d-flex">
            <div class="goodcolor" style="background-color: #5F3E2D;"></div>
            <div class="goodcolor" style="background-color: #B75929;"></div>
          </li>
        </ul>
      </li>

    </ul>
    






  </div>
    <%- include('./layout/page'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
  </html>